<div class="card mb-3" style="flex-direction: row;">
    <img src="/images/dr1.jpg" class="card-img-top" style="width:50%;" alt="Not Found">
    <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
        <table class="table" style="font-weight: bold;">
            <tbody>
                <tr>
                    <td>Full Name</td>
                    <td>{{namedr}} <i class="fab fa-firefox"></i></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{emaildr}} <i class="fas fa-envelope"></i></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{phone}} <i class="fas fa-phone-square-alt"></i></td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td>{{experience}}</td>
                </tr>
                <tr>
                    <td>Specialised</td>
                    <td>{{specialised}}</td>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>{{degree}}</td>
                </tr>
                <tr>
                    <td>Hour Work</td>
                    <td>{{hourwork}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{location}} <i class="fas fa-map-marker-alt"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>